.navbar{
    background-color: #f3e9f1;
}

#product-list{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card{
    margin-bottom: 20px;
}
.card img{
    height: 190px;
}